.container{
    width: 900px;
    display: flex;
    margin: 40px auto;
}

.card1{
    width: 500px;
    border: 2px solid lightgray;
    border-radius: 12px;
    margin: 50px auto;

}

.card-image{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.icons{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.userimage{
    width: 10%;
    border-radius: 50%;
    height: 70px;
    padding: 5px;
}

.user{
    display: flex;
    align-items: center;
}

.tag{
    margin-top: 0;
}
.tag1{
    margin-bottom: 0;
}

.image1{
    width:30%;
    height: 100px;
    border-radius: 50%;

}

.sideline{
    width: 300px;
    margin: 10px auto;
    height: 400px;
    position: sticky;
    top: 0;
}